<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanNet - Registrarse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo">PlanNet</div>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <div class="login-container">
           <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="width: 100%;">
        Crear Cuenta
        </button>
        <p>¿Ya tienes cuenta? 
        <a href="{% url 'login' %}" style="color: #667eea;">Inicia sesión aquí</a>
    </p>
    </form>

        </div>
    </main>

</body>
</html>